.spotContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    align-items: center;
    justify-items: center;
    max-width: 1400px;
    grid-gap: 0.5em;
    grid-auto-flow: dense;
    margin: 20px 5% 150px;

}

@media screen and (max-width: 2300px) and (min-width: 1900px) {
    .all-spots {
        width: 80%;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1800px) {
    .all-spots {
        width: 90%;
    }
}

@media screen and (max-width: 1800px) {
    .all-spots {
        width: 100%;
    }
}

.spot__img {
    width: 300px;
    height: 275px;
    object-fit: cover;
}

.spotCard img {
    max-width: 300px;
    max-height: 300px;
    padding: 0px 5px;
    border-radius: 20px;
}

.spot-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 38%;
    padding: 0px 5px;
    margin: 0px 5px;
    text-decoration: none;
}

.spot-details {
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
    font-size: 14px;
    color: #222222;
    display: block;
    max-width: 80%;
    word-wrap: break-word;

}
.spot-details > div:first-child {
    font-weight: 500;
}

.spot-price span {
    margin-right: 5px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spot-review {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0px;
    align-items: center;
}
